@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

body {
    overflow-x: hidden;
    width: 100%;
    background-image: linear-gradient(lightblue, lightgreen);
}

ul {
    list-style: none;
}
svg{
    margin-top: 5px;
    margin-bottom: 5px;
}

.contact {
    display: none;
}
.svg1{
    display: inline-flex;
    width: 300px;
}
/* -------------------- TOP -------------------- */
header {
    display: flex;
    position: relative;
    /* background-image: linear-gradient(lightblue, lightgreen); */
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 40%;
    border-top: 1px solid black;
}

.centred {
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 2px auto;
    width: 100%;
    max-width: 1024px;
}

.foto {
    width: 230px;
    height: 310px;
    border: 5px solid transparent;
    border-image: url(./border.png) 10 stretch;
}
/* .blsvg{
    display: inline-flex;
} */
.texto {
    --background-color: lightcoral;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.telefono {
    display: inline-flex;
}

.fa-brands {
    /* background-color: salmon; */
    padding: 10px;
    color: green;
    font-size: 1.5rem;
}

.nombre {
    margin: 10px;
}

h1 {
    font-size: 2.66rem;
}

/* -------------------- FINAL TOP -------------------- */
/* -------------------- MAIN -------------------- */
main {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    /* background-image: linear-gradient(-100deg, lightblue, lightgreen); */
}



/* -------------------- BLOQUE 1 -------------------- */
.bloque1 {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(lightgreen, lightblue);
    align-items: center;
    width: 30%;
    height: auto;
    padding: 45px 0;
}

.competencias {
    text-decoration: underline;
    font-weight: 600;
}

.tic {
    text-decoration: underline;
    font-weight: 600;
}

.idiomas {
    text-decoration: underline;
    font-weight: 600;
}

.BLcompetencias {
    width: 60%;
}

.BLidiomas {
    width: 60%;
}

.BLtic {
    padding-top: 70px;
    padding-bottom: 70px;
    width: 60%;
}

/* -------------------- FINAL BLOQUE 1 -------------------- */
/* -------------------- BLOQUE 2 -------------------- */
.bloque2 {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(lightgreen, lightblue);
    align-items: center;
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
}

.educacion {
    font-size: 1.35rem;
    text-decoration: underline wavy green 5px;

}

.factoria {
    text-decoration: underline;
    font-weight: 600;
}

.BLfactoria {
    padding-top: 20px;
    padding-bottom: 70px;
}

.cfgs {
    text-decoration: underline;
    font-weight: 600;
}

.BLcfgs {
    padding-bottom: 70px;
}

.bachillerato {
    text-decoration: underline;
    font-weight: 600;
}

.BLbachillerato {
    padding-bottom: 70px;
}

.BL {
    padding-bottom: 70px;
}

.experiencia {
    font-size: 1.35rem;
    text-decoration: underline wavy green 5px;
}

.voluntariado {
    text-decoration: underline;
    font-weight: 600;
}

.BLvoluntariado {
    padding-top: 20px;
    padding-bottom: 70px;
}

.otros {
    font-size: 1.35rem;
    text-decoration: underline wavy green 5px;
}

.LIotros {
    padding-bottom: 70px;
}

.Disponible {
    font-weight: bold;
}

/* -------------------- FINAL BLOQUE 2 -------------------- */
/* -------------------- FINAL MAIN -------------------- */

@media screen and (max-width: 1180px) {
    .foto {
        width: 190px;
        height: 270px;
    }

    .texto {
        --background-color: lightcoral;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
    }

    .nombre {
        margin: 5px;
    }

    h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 1095px) {
    .foto {
        width: 190px;
        height: 270px;
    }

    .texto {
        --background-color: lightcoral;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
    }

    .nombre {
        margin: 5px;
    }

    h1 {
        font-size: 2rem;
    }

}

@media screen and (max-width: 883px) {
    .foto {
        width: 190px;
        height: 270px;
    }
    header {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(lightblue, blue);
        width: 100%;
        /* background-color: black; */
    }

    .texto {
        margin-top: 20px;
        /* background-color: wheat;; */

    }

    .nombre {
        /* margin: 5px; */
        /* background-color: wheat; */
        text-align: center;
        
    }

    h1 {
        font-size: 1.6rem;
        
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .contact {
        width: 100%;
        display: flex;
        position: fixed;
        bottom: 5%;
        justify-content: space-evenly;
    }

    .btwhats {
        cursor: pointer;
        border-radius: 40px;
        border: 2px solid green;
        background-color: lightgreen;
        padding: 3px 10px;
        left: 50%;
        /* transform: translateX(-50%); */
        /* margin-right: 10%; */
    }

    .btinsta {
        cursor: pointer;
        border-radius: 40px;
        border: 2px solid purple;
        background-color: lightskyblue;
        padding: 3px 10px;
        left: 50%;
        /* transform: translateX(-50%); */
        /* margin-right: 10%; */
    }

    .btLinkedin {
        cursor: pointer;
        border-radius: 40px;
        border: 2px solid blue;
        background-color: lightskyblue;
        padding: 3px 10px;
        left: 50%;
        /* transform: translateX(-50%); */
        /* margin-right: 10%; */
    }

    .bloque1, .bloque2 {
        width: 80%;
        margin: 10px;
    }
    .datosContacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 560px) {
    .foto {
        width: 120px;
        height: 150px;
    }

    .texto {
        --background-color: lightcoral;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    .nombre {
        margin: 5px;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 406px) {
    .bloque2 h3 {
        text-decoration: none;
    }
}

@media screen and (max-width: 497px) {
    .bloque2 h3 {
        font-size: 1rem;
    }

    .bloque2 h4 {
        font-size: 0.8rem;
    }

    li {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 420px) {
    .foto {
        width: 120px;
        height: 150px;
    }

    .texto {
        --background-color: lightcoral;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    .nombre {
        margin: 5px;
    }

    h1 {
        font-size: 1rem;
    }

    h2 {
        font-size: 0.8rem;
    }

    li {
        font-size: 0.8rem;
    }
}